#bk1,#bk2{
    background-image: url(../images/bk14.jpg) ;
    margin-top: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
   background-attachment: fixed;
   background-size: cover;
    height: 300px;
    box-shadow:-5px -1px 10px 7px white ;
}

.cd1{
    width: 180px;
    height: 180px;
    
}
/*************************************************************************************************************************************************/



/*Team*/


.team{
    width: 100%;
    height: 90vh;
    /* background-image: url(../images/bf3.jpg); */
    background-size: cover;
    background-position: center;
   
}

.team h1,.teemh1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
}

.team h1 span,.teemh1 span{
    color: blueviolet;
    margin-left: 15px;
    font-family: mv boli;
}

.team h1 span::after,.teemh1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: blueviolet;
    display: block;
    position: relative;
    bottom: 15px;
}

.team .team_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
   
   
}

.team .team_box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: 0.4s;
    border:1px white solid;
}

.team .team_box .profile:hover{
    border-radius: 20px;
    height: 320px;
}

.team .team_box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 2;
    transition: 0.4s;
    border:1px white solid;
}

.team .team_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.team .team_box .profile:hover .info{
    top: 60%;
}

.team .team_box .profile .info .name{
    /* color: #fac031; */
    color: blueviolet;
    margin-bottom: 15px;
}

.team .team_box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}

.team .team_box .profile .info .team_icon i{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.team .team_box .profile .info .team_icon i:hover{
   color: blueviolet;
}

/* ========================================================================================================================= */



.mynavv{
    position: fixed;
    z-index: 12;
    width: 100%;
}

    .crddd{
        position: relative;
        
    }

.crddd::after{
    content: "";
    position: absolute;
    background-color:black;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
  

}
.crddd:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    transition: 1s;
    

}

.crddd::before{
    content: "";
    position: absolute;
    background-color:white;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 1s;
  

}
.crddd:hover::before{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    transition: 1s;
    

}

nav .nav-item:hover .nav-link{
    transform: scale(1.1);
    background: rgba(0,0,0,0.3);
    border-radius: 2px;
}

.nav-link:hover::first-letter   {
    font-weight: 500;
    color:white;

}